form.editor(
  name="editor"
  )
  input.like-h2(
    type="text"
    ng-model="currentCard.title"
    placeholder="Your New Card Title"
    )
  ul.inline.controls.hint(ng-hide="showHint")
    li
      strong Formatting Hints:
    li(
      ng-repeat="(label, hint) in hints",
      ng-click="setHint(hint)"
      ) {{label}}
    
  .hint(ng-show="showHint")
    .code {{currentHint.example}}
    .details {{currentHint.explanation || ''}}
      .right(ng-click="setHint()")
        i.fa-times.fa
  div
    textarea.contentField(
      ng-model="currentCard.content"
      rows="10", cols="40"
      placeholder="Your Content"
      ng-hide="previewOn"
      ng-change="makeDirty()"
      )
  .contentPreview(
    ng-show="previewOn"
    ng-click="previewOn = false"
    ng-bind-html="currentCard.content | wikitext"
    )
  div
    button(
      ng-show="currentCard.content"
      ng-click="previewOn = true"
      ng-hide="previewOn"
      ) Preview
  .controls
    .left
      ul.inline
        li(ng-show="dirty")
            a(ng-click="closeThisDialog('discard')") discard changes
        li(ng-show="currentCard.content || currentCard.title")
          a(ng-click="closeThisDialog(); deleteCard()") delete
    //- .right
    //-   ul.inline
    //-     li
    //-       a.save-button(ng-click="closeThisDialog('save')") save
      