.editor
	input(placeholder="Your New Card Title", ng-model="currentCard.title")
	ul.controls(ng-hide="hintsOpen")
		li.formatter(
			ng-repeat="(label, hint) in hints",
			ng-click="setHint(hint)"
			) {{label}}
		
	.hints(ng-show="hintsOpen")
		| {{currentHint.example}}
		span {{currentHint.explanation}}
		span.right(ng-click="hintsOpen = false")
			i.fa-close.fa
	.code(
		editable-textarea="currentCard.content"
		e-rows="30", e-cols="40"
		ng-bind-html="currentCard.content | wikitext"
		e-placeholder="Your Content"
		
		)
	.controls
		.left
			| delete
		.right
			a(ng-click="closeThisDialog('discard')") discard changes
		