form.editor-dialog(
  name="editor"
  )
  input.like-h2.content-field(
    type="text"
    ng-model="currentCard.title"
    placeholder="Your New Card Title"
    ng-change="makeDirty()"
    )
  ul.inline.controls.hint
    li
      strong Formatting Hints:
    li(
      ng-repeat="(label, hint) in hints",
      ng-click="setHint(hint)"
      )
      a {{label}}
    
  .hint(ng-show="showHint")
    .code {{currentHint.example}}
    .details {{currentHint.explanation || ''}}
      .right(ng-click="setHint()")
        i.fa-times.fa
  div.preview-button
    button(
      ng-click="previewOn = !previewOn"
      ng-show="currentCard.content"
      )
      span(
        ng-hide="previewOn"
        ) Show Preview
      i.fa.fa-times(
        ng-show="previewOn"
        ) 
  div.editor(ng-class="{'no-preview': !previewOn}")
    textarea.content-field(
      ng-model="currentCard.content"
      rows="10", cols="40"
      placeholder="Your Content"
      ng-change="makeDirty()"
      )
    .content-preview(
      ng-bind-html="currentCard.content | wikitext"
      )
  .controls
    .right
      ul.inline
        li
          a(ng-click="closeThisDialog();"
            ng-show="dirty")
           i.fa.fa-floppy-o
           | 
           | save and close
    .left
      ul.inline
        li(ng-show="dirty")
            a(ng-click="closeThisDialog('discard')") discard changes
        li(ng-show="currentCard.content || currentCard.title")
          a(ng-click="closeThisDialog(); deleteCard()") delete
    //- .right
    //-   ul.inline
    //-     li
    //-       a.save-button(ng-click="closeThisDialog('save')") save
      